html {
  scroll-behavior: smooth;
}

body {
  background-color: #1f2937;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}
////////HEADER//////////
.header {
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 22vh;
  h1 {
    font-family: "Permanent Marker", cursive;
    margin: 0;
  }
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  li {
    text-align: center;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.2);
    }
  }
  a {
    color: #e5e7eb;
    font-size: 18px;
  }
  .cart {
    background-color: #3882f6;
    padding: 8px 16px;
    border: #f9faf8 solid 3px;
    border-radius: 25px;
  }
}
///////HERO-PAGE//////////
.container-home {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10vh 22vh;
  gap: 50px;
  .left {
    display: flex;
    flex-direction: column;
    flex: 1 1 450px;
    gap: 20px;

    h1 {
      color: #f9faf8;
      font-size: 48px;
      font-weight: 1000;
      text-transform: uppercase;
      margin: 0;
      // font-family: "Permanent Marker", cursive;
      span {
        font-size: 70px;
        font-weight: 1000;
      }
    }
    p {
      color: #e5e7eb;
      font-size: 18px;
    }
    button {
      font-family: "Permanent Marker", cursive;
      background-color: #f9faf8;
      border: transparent solid 0px;
      border-radius: 25px;
      font-size: 16px;
      font-weight: 400;
      padding: 8px 16px;
      margin-right: 10px;
    }
    .pre {
      background-color: #3882f6;
      color: #f9faf8;
      font-weight: bold;
    }
  }
  .right {
    background-color: transparent;
    height: 400px;
    flex: 1 1 450px;
    display: block;
    align-items: center;
    text-align: center;
    overflow: hidden;
    img {
      object-fit: contain;
      width: 100%;
    }
  }
}

//////SHOP///////
.container-shop {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 22vh 50px 22vh;
  h1 {
    margin: 0;
    color: #1f2937;
    font-size: 48px;
    font-family: "Permanent Marker", cursive;
    margin-bottom: 50px;
  }
}

.shop {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: space-evenly;
  align-items: center;
}

.product {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  border: #1f2937 solid 5px;
  border-radius: 50px;
  height: 300px;
  min-width: 200px;
  overflow: hidden;
  .image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    height: 50%;
    flex: 6;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  #mavic_air_2 {
    background-image: url(img/mavic_air_2.jpg);
  }
  #mavic_pro_2 {
    background-image: url(img/mavic_pro_2.jpg);
  }
  #mavic_3 {
    background-color: #fff;
    background-image: url(img/mavic_3.jpg);
    background-size: 80%;
  }
  #mavic_3_cine {
    background-image: url(img/mavic_3_cine.jpeg);
  }
  .text {
    background-color: #1f2937;
    height: 35%;
    padding: 10px;
    flex: 4;
    display: flex;
    flex-direction: column;
    h1 {
      font-family: "Roboto", sans-serif;
      color: #f9faf8;
      margin: 0;
      margin-bottom: 5px;
      font-size: 18px;
    }
    h2 {
      color: #f9faf8;
      margin: 0;
      font-size: 24px;
      text-align: right;
    }
    p {
      margin-top: 2px;
      color: #f9faf8;
      font-size: 10px;
    }
  }
  .buttons {
    background-color: #3882f6;
    flex: 1.5;
    display: flex;
    align-items: center;
    button {
      color: #1f2937;
      font-family: "Permanent Marker", cursive;
      font-size: 10px;
      font-weight: bold;
      height: 100%;
      border: #1f2937 solid 0px;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }
    img {
      height: 30px;
    }
    .buy {
      background-color: orange;
      flex: 1.5;
    }
    .info {
      background-color: #3882f6;
      flex: 1;
    }
    .cart {
      background-color: #00b70b;
      flex: 1.5;
    }
  }
}

//////Quote Section///////
.container-quote {
  box-sizing: border-box;
  position: relative;

  .image {
    position: relative;
    background-image: url("img/drone_background_2.jpg");
    filter: blur(2px) brightness(65%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;

    justify-content: center;
    align-items: center;
    padding: 100px;
    height: 15vh;
  }
  .quote {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
  }
  h1 {
    margin: 0;
    color: #f9faf8;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
  }
  h2 {
    margin: 0;
    color: #f9faf8;
    text-align: right;
  }
}
//////CONTACT SECTION//////
.container-contact {
  margin: 0;
  background-color: #f9faf8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 5em 10em;
}

.contact-wrap {
  display: flex;
  width: 1000px;
  height: 10em;
  background-color: #3882f6;
  border: transparent solid 0px;
  border-radius: 20px;
  padding: 1.5em;
  justify-content: space-evenly;
  align-items: center;
}

.contact-text {
  h1 {
    color: #f9faf8;
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
  }
  p {
    color: #f9faf8;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
  }
}

.button-wrap {
  button {
  font-size: 20px;
  font-weight: 400;
  font-family: "Permanent Marker", cursive;
  color: #f9faf8;
  background-color: #1f2937;
  border: #f9faf8 solid 5px;
  border-radius: 25px;
  margin: 0;
  padding: 12px 24px;
  }
}
//////FOOTER///////
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #1f2937;
  height: 8vh;
  h3 {
    font-size: 16px;
    font-weight: 200;
    color: #f9faf8;
    text-align: center;
    margin: 0;
  }
}

////////Mobile screen (Under 600px)

@media only screen and (max-width: 1200px) {
  /////HEADER//////
  .header {
    padding: 10px 4vh;
    h1 {
      font-size: 20px;
    }
    ul {
      gap: 20px;
    }
    a {
      font-size: 16px;
    }
  }
  /////HERO PAGE//////
  .container-home {
    padding: 40px 6vh 10px 6vh;
    .left {
      h1 {
        font-size: 20px;
        span {
          font-size: 48px;
        }
      }
    }
  }
  /////SHOP PAGE/////
  .container-shop {
    padding: 20px 4vh;
    .shop {
      gap: 45px;
    }
  }
  //////QUOTE SECTION/////
  .container-quote {
    .quote {
      padding: 10px 4vh;
    }
    h1 {
      font-size: 22px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 18px;
    }
  }
  //////CONTACT SECTION//////
  .container-contact {
    height: 300px;
    padding: 1em 4em;
  }

  .contact-wrap {
    height: fit-content;
    width: 50vw;
    padding: 1em 2em;
    flex-wrap: wrap;
    text-align: center;
  }
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 10px;
  }
  .button-wrap {
    button {
      font-size: 16px;
    }
  }
}
